/Employer/nbproject/private/
/EmployeeProfiles/nbproject/private/
/EmployeeProfiles/build/
/EmployeeProfile_Main/nbproject/private/
/EmployeeDashboard1/nbproject/private/
/EmployeeDashboard1/build/
/Emp_Project/nbproject/private/
/EMP_Profile/nbproject/private/
/AssignmentProfile/nbproject/private/
/Employee/nbproject/private/
/Employee1/nbproject/private/
/Emp_Portal1/nbproject/private/
/Emp_Portal1/build/
/EmployeePortal/nbproject/private/
/EmployeePortal/build/
